.card{
    height: 100%;
}

h5{
    color: black; 
}

.card:hover{
    transition: 0.3s;
    --shadow-color: 0deg 0% 0%;
    box-shadow: 0px 0.5px 0.7px hsl(var(--shadow-color) / 0.03),
    0px 1.9px 2.6px -0.2px hsl(var(--shadow-color) / 0.06),
    0px 3.4px 4.7px -0.4px hsl(var(--shadow-color) / 0.09),
    -0.1px 6.1px 8.4px -0.6px hsl(var(--shadow-color) / 0.12),
    -0.1px 10.8px 14.9px -0.8px hsl(var(--shadow-color) / 0.15);
}