.navbar{
    height: 8vh;
}

.navbar-brand-div{
    font-weight: 700;
    width: 10vw;
}

.navbar-text{
    width: 10vw;
}

.navbar-nav{
    height: 100%;
    font-weight: 500;
}
.nav-link-container{
    height: 100%;
    border-bottom: 1px solid transparent !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link-container:hover{
    border-bottom-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    transition: 0.4s;
}

.nav-link:hover{
    color: var(--primary-color) !important;
    transition: 0.4s;
}

a {
    text-decoration: none;
}